@import './vars';

/* Viewport sizes based on column number and sidebar */
$viewport_xs: 	$item_width + $sidebar_width; /* 1 column */
$viewport_s: 	$item_width * 2 + $sidebar_width; /* 2 columns */
$viewport_m: 	$item_width * 3 + $sidebar_width; /* 3 columns */
$viewport_l: 	$item_width * 4 + $sidebar_width; /* 4 columns */
$viewport_xl: 	$item_width * 5 + $sidebar_width; /* 5 columns */
$viewport_xxl: 	$item_width * 6 + $sidebar_width; /* 6 columns */

@media screen and (min-width: $viewport_xs) {
  .grid__item {
    padding: 45px 45px 30px;
  }

}

@media screen and (min-width: $viewport_s) {
  /* 2 columns */
  .grid__item {
    width: 50%;
    border: none;
  }

  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74,74,74,0.075);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .grid__item:hover::before,
  .grid__item:focus::before {
    border: 3px solid rgba(129,196,131,0.5);
  }

  .grid__item--loading.grid__item::before {
    opacity: 0;
  }
}


@media screen and (min-width: $viewport_m) {
  /* 3 columns */
  .grid__item {
    width: 33.333%;
  }
}

@media screen and (min-width: $viewport_l) {
  /* 4 columns */
  .grid__item {
    width: 25%;
  }
}

@media screen and (min-width: $viewport_xl) {
  /* 5 columns */
  .grid__item {
    width: 20%;
  }
}

@media screen and (min-width: $viewport_xxl) {
  /* 6 columns */
  .grid__item {
    width: 16.66%;
  }
}
