@import '../../../../styles/vars';
@import '../../../../styles/viewport';

/* Main content */
.body-content {
  position: relative;
  z-index: 50;
}


@media screen and (min-width: $viewport_xs) {

  .body-content {
    height: 100vh;
  }

  .body-content {
    height: 100%;
    margin-left: $sidebar_width;
  }

}
