/* You can add global styles to this file, and also import other style files */
@import './styles/_base.scss';
@import './styles/_mediaqueries.scss';

html,
body{
  padding: 0px;
  margin: 0px;
}
html,
body,
.container,
.main {
  height: 100vh;
}