/* You can add global styles to this file, and also import other style files */
@import './styles/_base.scss';
@import './styles/_mediaqueries.scss';
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700);


html,
body{
  padding: 0px;
  margin: 0px;
}
html,
body,
.container,
.main {
  height: 100vh;
}